<!DOCTYPE html>

<html lang="en">
<head>
  <title>iParty</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= yield :more_styles %>
  <%= javascript_include_tag "application" %>
  <%= yield :more_scripts %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span4"><%= link_to 'iParty', root_path, :class => 'brand' %></div>
          <div class="span4" style="text-align: center">&nbsp;</div>
          <div class="span4">
            <div class="nav-collapse">
              <ul class="nav pull-right">
                <% if user_signed_in? %>
                <li><%= link_to "Hi #{current_user.first_name}!", '#' %></li>
                <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
                <% else %>
                <li><%= link_to "Sign in with Facebook", '/users/auth/facebook' %></li>
                <% end %>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </div>
      </div><!-- /.container -->
    </div><!-- /navbar inner -->
  </div> <!-- /navbar-fixed-top -->

  <div class="container-fluid">
    <%= flashes :error, :notice %>
    <%= yield %>
    <footer>
<!--      <p><small>Facebook buttons by <a href="http://www.komodomedia.com/blog/2009/06/sign-in-with-twitter-facebook-and-openid/">Komodo Media</a>.</small></p> //-->
    </footer>
  </div> <!-- /container -->
  <script type="text/javascript" charset="utf-8">
    App.run('<%= "#{controller_name}_#{action_name}" %>');
  </script>
</body>
</html>
